@use "../abstracts/" as a;
@use "../layout" as l;
@use "../theme/" as t;

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: map-get(l.$size, aside);
  height: 100vh;
  background-color: var(--dashboard);
  display: flex;
  flex-direction: column;
  @include t.sans;
  padding: 10px 0;
  text-transform: capitalize;

  .top {
  }
  .middle {
  }
  .bottom {
    margin-top: auto;
  }
}
