@use "../abstracts/" as a;
@use "../layout" as l;
@use "../theme/" as t;

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: map-get(l.$size, aside);
  height: 100vh;
  background-color: var(--dashboard);
  display: flex;
  flex-direction: column;
  @include t.sans;

  text-transform: capitalize;

  @include l.max(md) {
    position: static;
    width: 100%;
    height: max-content;
  }

  .bottom {
    margin-top: auto;
  }
}
