@use "../layout" as l;
@use "../theme/" as t;

footer {
  .content {
    @include l.max-width(xxs);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  background-color: var(--main);

  ul {
    display: flex;
    justify-content: space-around;
    width: 100%;

    i {
      font-size: 28px;
    }
  }

  span {
    @include t.sans;
    font-size: 12px;
    margin-top: 30px;
  }
}
