@use '../abstracts/' as a;
@use '../layout' as l;
@use '../theme/' as t;

header {
  position: relative;
  // height: 140px;
  @include a.transition;

  --border-color: rgba(255, 255, 255, 0.1);

  border-bottom: solid 1px var(--border-color);

  @include t.fancy;

  // background
  // @include a.cubic_bg;
  @include a.text_shadow;
  background-color: var(--main);
  //linear gradient
  // background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

#language {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  padding: 8px;
  color: var(--200);

  a {
    @include l.padding(0, xs);
    @include l.radius(sm);
  }

  a:hover,
  a.active {
    background-color: rgba(228, 193, 232, 0.2);
  }
}
