<% const yuxuan = lang == 'zh' ? '林榆璇' : 'Yuxuan Lin' %>

<%
const body = JSON.parse( data.body );
const id = data._id;
const arranger_en = body.arranger_en;
const arranger_zh = body.arranger_zh;
%>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yuxuan Lin | Dashboard | Arranger</title>
  <%- include('../partials/head') %>
</head>

<body class="dashboard">
  <%- include('../partials/aside') %>
  <script>
    document.querySelector('aside .middle ul li:nth-child(4) a')
      .classList.add('active');
  </script>
  <main class="">
    <%- include('../partials/form', {
      metadata: {
        method: 'put',
        action: '/dashboard/arranger/' + id,
        name: 'arranger',
        id: id
      },
      fields: [
        {
          tag: 'textarea',
          name: 'arranger_en',
          label: 'Arranger',
          value: arranger_en
        },
        {
          tag: 'textarea',
          name: 'arranger_zh',
          label: '編曲',
          value: arranger_zh
        },
      ]
    }) %>
  </main>
</body>

</html>