<%
formData["arranger"].metadata.method = 'PUT';
const baseURL = formData["arranger"].metadata.action;
formData["arranger"].metadata.action = baseURL + '/' + docs[0]._id;

let parsedBody = JSON.parse(docs[0].body);

formData["arranger"].fields.forEach(field => {
  switch (field.type) {
    case 'hidden':
      // Do nothing
      break;
    case 'file':
      field.file = parsedBody.file;
      break;
    default:
      field.value = parsedBody[field.name || field.type];
  }
});

%>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yuxuan Lin | Dashboard | Arrangements</title>
  <%- include('../partials/head') %>
</head>

<body class="dashboard">
  <%- include('../partials/aside') %>

  <main class="sp-aside-left">

    <%- include('../partials/table', {
      name: 'arrangements',
      data,
      map: {
        thead: ['title'],
        tbody: ['title_en']
      }
    }) %>
    <%- include('../partials/form', formData["arranger"]) %>
  </main>
</body>

</html>