<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yuxuan Lin | Dashboard | Bio</title>
  <%- include('../partials/head') %>
</head>

<body class="dashboard">
  <%- include('../partials/aside') %>
  <script>
    document.querySelector('aside .middle ul li:nth-child(1) a')
      .classList.add('active');
  </script>
  <main class="">
    <%- include('../partials/form', {
      metadata: {
        method: 'PUT',
        action: '/dashboard/bio/' + id,
        name: 'bio'
      },
      fields: [
        {
          type: 'file',
          name: 'image',
        },
        {
          name: 'quote_en',
          value: body.quote_en,
          lang: 'en',
          label: 'quote'
        },
        {
          name: 'quote_zh',
          value: body.quote_zh,
          lang: 'zh',
          label: '引用'
        },
        {
          tag: 'textarea',
          name: 'bio_en',
          value: body.bio_en,
          height: 500,
          lang: 'en',
          label: 'bio'
        },
        {
          tag: 'textarea',
          name: 'bio_zh',
          value: body.bio_zh,
          height: 500,
          lang: 'zh',
          label: '个人简介'
        }
      ]
    }) %>
  </main>
</body>

</html>