<% 
const body = JSON.parse(intro.body);
const id = intro._id;
%>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yuxuan Lin | Dashboard</title>
  <%- include('../partials/head') %>
</head>

<body class="dashboard">
  <%- include('../partials/aside') %>
  <script>
    document.querySelector('aside ul li:nth-child(2) a').classList.add('active');
  </script>
  <main>
    <%- include('../partials/form', {
      metadata : {
        method: 'put',
        action: 'dashboard/intro/' + id,
        name: 'intro'
      },
      fields: [
        {
          tag: 'textarea',
          name: 'intro_en',
          value: body.intro_en || '',
          label: 'intro'
        },
        {
          tag: 'textarea',
          name: 'intro_zh',
          value: body.intro_zh || '',
          label: '简介'
        }
      ]
    }) %>
  </main>
</body>

</html>