<%
formData.metadata.method = 'PUT';
const baseURL = formData.metadata.action;
formData.metadata.action = baseURL + '/' + doc._id;

let parsedBody = JSON.parse(doc.body);

formData.fields.forEach(field => {
  switch (field.type) {
    case 'hidden':
      // Do nothing
      break;
    case 'file':
      field.file = parsedBody.file;
      break;
    default:
      field.value = parsedBody[field.name || field.type];
  }
});

%>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yuxuan Lin | Dashboard</title>
  <%- include('../partials/head') %>
</head>

<body class="dashboard">
  <%- include('../partials/aside') %>

  <main class="sp-aside-left">
    <%- include('../partials/form', formData) %>
  </main>
</body>

</html>