<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yuxuan Lin | Dashboard | Links</title>
    <%- include('../partials/head') %>
  </head>

  <body class="dashboard">
    <%- include('../partials/aside') %>
    <main class="sp-aside-left">
      <%- include('../partials/table', { name: 'links', data, map: { thead:
      ['title', 'tag', 'url'], tbody: ['title', 'tag', 'url'] } }) %>
    </main>
  </body>
</html>
