<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yuxuan Lin | Dashboard | Media</title>
  <%- include('../partials/head') %>
</head>

<body class="dashboard">
  <%- include('../partials/aside') %>
  <script>
    document.querySelector('aside .middle ul li:nth-child(4) a')
      .classList.add('active');
  </script>
  <main class="sp-aside-left">

    <%- include('../partials/table', {
      name: 'media',
      data,
      map: {
        thead: ['title'],
        tbody: ['title_en']
      }
    }) %>

  </main>
</body>

</html>