<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yuxuan Lin | Dashboard | New Media</title>
  <%- include('../../partials/head') %>
</head>

<body class="dashboard">
  <%- include('../../partials/aside') %>
  <script>
    document.querySelector('aside .middle ul li:nth-child(4) a')
      .classList.add('active');
  </script>
  <main>
    <h1 class="secondary-header">New Media Item</h1>

    <%- include('../../partials/form', {
        metadata: {
          method: 'post',
          action: '/dashboard/media',
          enctype: 'multipart/form-data',
          name: 'media'
        },
        fields: [
          { name: 'title_en', required: true, label: 'title', role: 'slug-source' },
          { name: 'title_zh', required: true, label: '标题' },
          { type: 'hidden', name: 'slug' },
          { tag: 'textarea', name: 'shortDescription_en', label: 'short description' },
          { tag: 'textarea', name: 'shortDescription_zh', label: '登月之旅' },
          { type: 'file', label: 'image' },
          { tag: 'textarea', name: 'description_en', label: 'description' },
          { tag: 'textarea', name: 'description_zh', label: '描述' },
          { tag: 'textarea', name: 'recording' }
        ]
      }) %>
  </main>

</body>

</html>