<% const yuxuan = lang == 'zh' ? '林榆璇' : 'Yuxuan Lin' %>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= yuxuan %> | Log in</title>
  <%- include('../partials/head') %>
</head>

<body>
  <main id="login">
    <h1>Sign in</h1>
    <p>to continue to the dashboard</p>
    <form action="/login" method="post" class="w-[400px] max-w-full space-y-8 px-4">
      <div class=" flex justify-between">
        <div class=" w-full">
          <label for="username" class="block mb-1 font-sans text-sm">Username</label>
          <input type="text" name="username" class="w-full p-2.5 border bg-main-light font-sans text-lg resize-none focus:outline-none focus:border-gray-800" required />
        </div>
      </div>
      <div class="">
        <div class="">
          <label for="password" class="block mb-1 font-sans text-sm">Password</label>
          <input type="password" name="password" class="w-full p-2.5 border bg-main-light font-sans text-lg resize-none focus:outline-none focus:border-gray-800" required />
        </div>
      </div>
      <div class=" mt-8 flex justify-end">
        <div class="">
          <button type="submit" class="font-sans rounded-sm bg-light-blue py-2 px-4 text-main hover:bg-slate-300 transition">Log in</button>
        </div>
      </div>
    </form>
    <a href="/" class="transition">Return to the main website</a>
  </main>
</body>

</html>