<aside>
  <div class="top">
    <ul>
      <li>
        <a href="/" class="link aside-link">
          <i class="fa-solid fa-house"></i>
          <span>home</span>
        </a>
      </li>
      <li>
        <a href="/dashboard" class="link aside-link">
          <i class="fa-solid fa-gauge"></i>
          <span>dashboard</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="middle">
    <ul>
      <li>
        <a href="/dashboard/bio" class="link aside-link">
          <i class="fa-solid fa-book"></i>
          <span>bio</span>
        </a>
      </li>
      <li>
        <a href="/dashboard/events" class="link aside-link">
          <i class="fa-solid fa-calendar-days"></i>
          <span>events</span>
        </a>
      </li>
      <li>
        <a href="/dashboard/works" class="link aside-link">
          <i class="fa-solid fa-music"></i>
          <span>works</span>
        </a>
      </li>
      <li>
        <a href="/dashboard/media" class="link aside-link">
          <i class="fa-solid fa-photo-video"></i>
          <span>media</span>
        </a>
      </li>

      <li>
        <a href="/dashboard/arrangements" class="link aside-link">
          <i class="fa-solid fa-pen"></i>
          <span>arrangements</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="bottom">
    <ul>
      <li>
        <a href="/logout" class="link aside-link">
          <i class="fa-solid fa-right-from-bracket"></i>
          <span>log out</span>
        </a>
      </li>
    </ul>
  </div>
</aside>