<aside>
  <div class="top">
    <ul>
      <li>
        <a href="/">
          <i class="fa-solid fa-house"></i>
          <span>home</span>
        </a>
      </li>
      <li>
        <a href="/dashboard">
          <i class="fa-solid fa-gauge"></i>
          <span>dashboard</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="middle">
    <ul>
      <li>
        <a href="/dashboard/bio">
          <i class="fa-solid fa-book"></i>
          <span>bio</span>
        </a>
      </li>
      <li>
        <a href="/dashboard/works">
          <i class="fa-solid fa-music"></i>
          <span>works</span>
        </a>
      </li>
      <li>
        <a href="/dashboard/events">
          <i class="fa-solid fa-calendar-days"></i>
          <span>events</span>
        </a>
      </li>

      <li>
        <a href="/dashboard/arranger">
          <i class="fa-solid fa-pen"></i>
          <span>arranger</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="bottom">
    <ul>
      <li>
        <a href="/logout">
          <i class="fa-solid fa-right-from-bracket"></i>
          <span>log out</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
