<footer class="p-16">
  <div class="content">
    <ul>
      <li>
        <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li>
        <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li>
        <a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a>
      </li>
      <li>
        <a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </li>
    </ul>
    <span>
      <%- lang == 'zh' ? '版权所有 &copy; ' + new Date().getFullYear() +
      '林榆璇' : 'Copyright &copy; ' + new Date().getFullYear() + ' Yuxuan Lin'
      %>
    </span>
  </div>
</footer>
