<footer class="p-16">
  <div class="content">
    <ul>
      <li>
        <a href="https://www.facebook.com/yuxuanlin1207" target="_blank"
          ><i class="fa-brands fa-facebook"></i
        ></a>
      </li>
      <li>
        <a href="https://www.instagram.com/yuxuanlin_1207/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </li>
      <li>
        <a href="https://www.youtube.com/@yuxuanlin1207/" target="_blank"
          ><i class="fa-brands fa-youtube"></i
        ></a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/yuxuan-lin-621854275"
          target="_blank"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      </li>
    </ul>
    <span>
      <%- lang == 'zh' ? '版权所有 &copy; ' + new Date().getFullYear() +
      '林榆璇' : 'Copyright &copy; ' + new Date().getFullYear() + ' Yuxuan Lin'
      %>
    </span>
  </div>
</footer>
