<% let title = "Yuxuan Lin"; let subtitle = "Composer"; if (lang === "zh") {
title = "林榆璇"; subtitle = "作曲家"; } %>

<header class="flex items-center gap-4 p-8 h-48">
  <a href="/?lang=<%= lang %>" class="block h-2/3"
    ><img src="/img/logo-dark.svg" alt="logo" class="h-full"
  /></a>
  <div class="font-elsie leading-tight">
    <h1 class="uppercase text-4xl xs:text-6xl font-bold transition-all">
      <a href="<%= lang == 'zh' ? '/?lang=zh' : '/' %>"><%= title %></a>
    </h1>
    <h2 class="text-md xxs:text-lg xs:text-xl"><%= subtitle %></h2>
  </div>
  <div id="language">
    <span><a href="#">🇺🇸</a></span>
    <span>|</span>
    <span><a href="#">🇨🇳</a></span>
  </div>
</header>
