<% let title = "Yuxuan Lin"; let subtitle = "Composer"; if (lang === "zh") {
title = "林榆璇"; subtitle = "作曲家"; } %>

<header class="flex items-center gap-4 p-8">
  <a href="/?lang=<%= lang %>" class="block h-full"><img src="/img/logo-dark.svg" alt="logo" class="h-1/2 xxs:h-2/3 xs:h-full"></a>
  <div class="font-elsie leading-tight">
    <h1 class="uppercase text-2xl xxs:text-3xl xs:text-4xl font-bold"><a href="<%= lang == 'zh' ? '/?lang=zh' : '/' %>"><%= title %></a></h1>
    <h2 class="text-md xxs:text-lg xs:text-xl"><%= subtitle %></h2>
  </div>
  <div id="language">
    <span><a href="#">🇺🇸</a></span>
    <span>|</span>
    <span><a href="#">🇨🇳</a></span>
  </div>
</header>