<%
const nav = {
  menu: 'nav-menu no-scrollbar flex relative w-full overflow-x-scroll scroll-smooth whitespace-nowrap sm:justify-center', link_classes: 'nav-link text-nuetral-50 hover:text-white active:text-white capitalize text-sm align-text-top', map: [
    {name: 'home', text: lang === 'zh' ? '首页' : 'home', liClass: 'ml-[2%]'},
    {name: 'bio', text: lang === 'zh' ? '个人简介' : 'bio'},
    {name: 'events', text: lang === 'zh' ? '事件' : 'events'},
    {name: 'music', text: lang === 'zh' ? '音乐' : 'Music', menu: 'drop-down-menu hidden z-50 group-hover:flex', menuParent: 'drop-down-menu--parent group relative z-50', link_classes: 'drop-down-link', liClass: 'hidden sm:block text-nuetral-50 hover:text-white active:text-white capitalize text-sm', spanClass: 'cursor-pointer text-nuetral-50 hover:text-white active:text-white capitalize text-sm align-text-top', map: [
      {name: 'works', text: lang === 'zh' ? '作品' : 'Works'},
      {name: 'arranger', text: lang === 'zh' ? '编曲' : 'Arranger', href: '/arrangements'},
    ]},
    {name: 'works', text: lang === 'zh' ? '作品' : 'works', liClass: 'd-none d-sm-block'},
    {name: 'arranger', text: lang === 'zh' ? '编曲' : 'arranger', liClass: 'd-none d-sm-block', href: '/arrangements'},
    {name: "gallery", text: lang === 'zh' ? '照片' : 'gallery'},
    {name: 'blog', text: lang === 'zh' ? '博客' : 'blog'},
    {name: 'links', text: lang === 'zh' ? '链接' : 'links'},
    {name: 'contact', text: lang === 'zh' ? '联系' : 'contact', liClass: 'last-child pr-[2%]'},
  ]
}

const generateMenu = data => {
  let html = `<ul class="${data.menu}">`;
  data.map.forEach(item => {
    const name = item.name;
    const text = item.text || item.name;
    const liClass = item.liClass || '';
    const spanClass = item.spanClass || '';
    let href = (item.name === 'home' || name === '首页') ? '/' : (item.href || `/${name}`);
    href += '?lang=' + lang;
    if (!item.menu) html += `<li class="${liClass}"><a href='${href}' class="${data.link_classes}">${text}</a></li>`;
    else { html += `<li class="${item.menuParent} ${liClass}"><span class="${spanClass}">${text}</span>${generateMenu(item)}</li>`}
  })
  html +=`</ul>`
  return html;
}
%>

<nav class="shadow bg-main-light font-sans h-[50px] flex justify-center px-6 items-center sticky top-0 z-50">

  <%- generateMenu(nav) %>

  <div id="burger" class="transition shadow ml-3 cursor-pointer group space-y-0.5 sm:hidden">
    <div class="group-hover:bg-white group-active:bg-white bg-neutral-50 w-4 h-0.5 rounded"></div>
    <div class="group-hover:bg-white group-active:bg-white bg-neutral-50 w-4 h-0.5 rounded"></div>
    <div class="group-hover:bg-white group-active:bg-white bg-neutral-50 w-4 h-0.5 rounded"></div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Getting the current path and removing query parameters
    let path = window.location.pathname;
    let links = document.getElementsByClassName('nav-link');
    let activeLink = null;

    for (let i = 0; i < links.length; i++) {
      let href = links[i].getAttribute('href');
      // Splitting href on '?' to remove any query parameters
      href = href.split('?')[0];
      // Check if the href attribute of the link matches the current path
      if (href === path) {
        // Add 'active' class to the matching link
        links[i].classList.add('active');
        activeLink = links[i];
        break;
      }
    }

    // Scroll the active link into view
    if (activeLink) {
      activeLink.scrollIntoView({ behavior: 'smooth', block: 'nearest' });
    }

    // add gradient html
    let ul = document.querySelector('.nav-menu');
    let html = `<div id="gradient"></div>`;
    ul.insertAdjacentHTML('beforeend', html);

    // drop down
    document.querySelectorAll('.drop-down-menu--parent').forEach(parent => {
      parent.addEventListener('mouseenter', function(ev) {
        let dropdown = this.querySelector('.drop-down-menu');
        let rect = this.getBoundingClientRect();
        dropdown.style.top = `${rect.top + rect.height}px`;
        dropdown.style.left = `${window.scrollX + rect.left}px`;
        dropdown.style.minWidth = `calc(${rect.width}px + (15px * 2))`; // set min-width
        dropdown.style.display = 'flex';
      });
      parent.addEventListener('mouseleave', function(ev) {
        this.querySelector('.drop-down-menu').style.display = 'none';
      });
    });

  });
</script>

<script>
  const currentPath = window.location.pathname.replace(/\/$/, '');
  document.querySelectorAll('.nav-link').forEach(link => {
    link.classList.toggle('active', link.getAttribute('href') === currentPath || (link.getAttribute('href') === '/' && currentPath === ''));
  });
</script>

<script src="/js/gradient-no-scroll.js" defer></script>