@use "../abstracts/" as a;
@use "../layout" as l;
@use "../theme/" as t;

.btn {
  @include a.transition;
  @include a.boxshadow(sm);
  @include l.padding(xs, sm);
  @include l.radius(xs);
  @include t.sans;

  display: inline-block;
  color: white;
}

.btn-primary {
  background-color: var(--btn-primary);
  color: var(--main-light);

  &:hover {
    background-color: var(--btn-primary-hover);
    outline: solid 1px rgb(0, 0, 0, 0.1);
  }
}

.btn-success {
  background-color: var(--success);
  &:hover {
    background-color: var(--success-hover);
  }
}

.btn-danger {
  background-color: var(--danger);
  color: black;
  box-shadow: none;
  &:hover {
    background-color: var(--danger-hover);
  }
}

.btn-dashboard {
  background-color: var(--dashboard);
  &:hover {
    background-color: var(--dashboard-hover);
  }
}
