@use '../abstracts/' as a;
@use '../layout' as l;
@use '../theme/' as t;

.btn {
  @include t.sans;
  @include l.padding(xs, sm);
  @include l.radius(sm);
  @include a.transition($duration: 0.1s);
}

.btn-primary {
  background-color: var(--btn-primary);
  color: var(--main-light);

  &:hover {
    background-color: var(--btn-primary-hover);
    outline: solid 1px rgb(0, 0, 0, 0.1);
    color: white;
  }
}

.success-btn {
  background-color: var(--success);
  color: var(--main-light);

  &:hover {
    background-color: var(--success-hover);
    color: white;
  }
}

.danger-btn {
  background-color: transparent;
  color: var(--60);

  &:hover {
    color: black;
  }
}
