@use "../abstracts/" as a;
@use "../layout" as l;
@use "../theme/" as t;

.flex {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Direction */
  &.row {
    flex-direction: row;
  }
  &.row-reverse {
    flex-direction: row-reverse;
  }
  &.column {
    flex-direction: column;
  }
  &.column-reverse {
    flex-direction: column-reverse;
  }

  /* Wrap */
  &.wrap {
    flex-wrap: wrap;
  }
  &.wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  &.nowrap {
    flex-wrap: nowrap;
  }

  /* Justify Content */
  &.justify-start {
    justify-content: flex-start;
  }
  &.justify-end {
    justify-content: flex-end;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.justify-around {
    justify-content: space-around;
  }
  &.justify-evenly {
    justify-content: space-evenly;
  }

  /* Align Items */
  &.align-start {
    align-items: flex-start;
  }
  &.align-end {
    align-items: flex-end;
  }
  &.align-stretch {
    align-items: stretch;
  }
  &.align-basline {
    align-items: baseline;
  }

  /* Gap */
  &.gap {
    gap: 30px;
  }
  &.gap-sm {
    gap: 10px;
  }
  &.gap-md {
    gap: 40px;
  }
  &.gap-lg {
    gap: 60px;
  }
}
