@use "../abstracts/" as a;
@use "../layout" as l;
@use "../theme/" as t;

.nav-menu {
  display: flex;
  position: relative;
  @include l.min(navBar) {
    justify-content: center;
  }
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  @include a.hide-scrollbar;

  $fade-amount: 2%;

  & > li + li {
    margin-left: 50px;
  }

  li {
    &:first-child {
      margin-left: $fade-amount;
    }
    &.last-child {
      padding-right: $fade-amount;
    }

    white-space: nowrap;
  }

  #gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      var(--second),
      transparent $fade-amount,
      transparent 98%,
      var(--second)
    );

    pointer-events: none;

    @include l.min(navBar) {
      display: none;
    }
  }
}

.drop-down-menu {
  background: rgba(0, 0, 0, 40%);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(0, 0, 0, 5%);
  @include l.padding(xs, 0);
  @include l.radius(xs);
  display: flex;
  flex-direction: column;
  align-items: stretch;

  // position: absolute;
  position: fixed;
  top: 100%;
  left: -15px;

  min-width: calc(100% + (15px * 2));
}

.drop-down-menu--parent {
  span {
    cursor: pointer;
    color: var(--200);
    &:hover {
      color: white;
    }
  }

  & > li + li {
    margin-top: 15px;
  }

  ul {
    display: none;
  }
  &:hover ul {
    display: flex;
  }

  position: relative;
}
