@use "../layout" as l;
@use "../theme/" as t;

.toast-notification {
  position: fixed;
  top: 32px;
  right: 50%;
  transform: translateX(50%);
  z-index: 9999;
  width: max-content;

  @include l.padding(xs, sm);
  @include l.radius(xs);
  @include t.sans;

  color: var(--247);
  font-size: 14px;
  opacity: 0;

  &.active {
    opacity: 1;
  }

  &.success {
    background-color: var(--success);
  }

  &.danger {
    background-color: var(--danger);
  }
}
