@use '../abstracts/' as a;
@use '../layout' as l;
@use '../theme/' as t;

/* Headers */

.header {
  text-transform: capitalize;
}

.main-header {
  padding-bottom: 30px;
  text-align: center;
  @include t.sans;
}

.secondary-header {
  text-align: center;
  @include t.serif;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--light-grey);
    margin: 30px auto;
  }
}

.third-header {
  @include t.serif;
  font-size: 24px;
  font-weight: 600;
  color: white;
  @include l.max(md) {
    font-size: 18px;
  }
}

.fourth-header {
  font-size: 24px;
  @include l.max(md) {
    font-size: 18px;
  }
  font-weight: 700;
}

.event-header {
  @include t.serif;
  font-size: 60px;
  margin: 60px 0;
  @include l.max(md) {
    font-size: 60px;
    margin: 80px 0;
  }
  @include l.max(sm) {
    margin: 60px 0;
    font-size: 40px;
  }
  // text-align: center;
}

.dashboard-header {
  @include t.sans;
  font-size: 20px;
  @include l.max(xs) {
    font-size: 16px;
  }
  color: var(--dashboard);
  text-transform: capitalize;
}

/* Subheaders */
.dashboard-subheader {
  @include t.sans;
  font-size: 16px;
  color: var(--100);
  font-weight: 300;
  text-transform: uppercase;
}

/* Links */

.nav-link {
  color: rgb(150, 150, 150);
  &:hover,
  &.active {
    color: white;
  }
  text-transform: capitalize;
}

.dashboard-table-link {
  color: var(--form);
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  display: block;
  width: max-content;
  margin: 15px 0 30px;
  i {
    margin-left: 5px;
  }
}

.drop-down-link {
  color: white;

  @include l.radius(xs);
  @include l.padding(xs, sm);

  display: block; // fill width of <li> and apply padding

  &:hover {
    background-color: rgb(255, 255, 255, 0.1);
  }
}

.aside-link {
  color: var(--200);
  display: block;
  @include l.padding(sm);
  span {
    margin-left: 5px;
  }

  &:hover {
    background-color: var(--dashboard-hover);
    color: white;
  }

  &.active {
    border-left: solid 5px var(--dashboard-hover);
  }

  @include a.transition;
}

.table-link {
  color: var(--form);
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  display: block;
  width: max-content;
  margin: 15px 0 30px;

  i {
    margin-left: 5px;
  }
}

.edit-link {
  color: var(--form);
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  display: block;
  width: max-content;
  margin: 15px auto 30px;

  i {
    margin-left: 5px;
  }
}

.icon-link {
  @include a.transition;
  @include l.radius(50%);
  height: 25px;
  width: 25px;

  i {
    font-size: 13px;
    color: var(--140);
    @include a.transition;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    i {
      color: var(--20);
    }
  }
}

// text

.main-txt {
  // @include t.sans;
  @include t.serif;
  line-height: 2;
}

.zh-txt {
  font-style: normal !important;
}

/* Quotes */

blockquote {
  font-style: italic;
  @include t.serif;
}

.engraved {
  font-weight: 100;
  font-size: 20px;
  @include l.max(md) {
    font-size: 18px;
  }
  @include l.max(sm) {
    font-size: 16px;
  }
  font-style: italic;
}
