@use "../abstracts/" as a;
@use "../layout" as l;
@use "../theme/" as t;

/* Quotes */

blockquote {
  font-style: italic;
  @include t.serif;
}

.engraved {
  @include t.fancy();
  color: var(--engraved);
  font-weight: 600;
  font-size: 25px;
  font-style: italic;
  text-shadow: 2px 3px 5px rgba(255, 255, 255, 0.5);
  text-align: left;
}

/* Headers */

.header {
  text-transform: capitalize;
}

.main-header {
  padding-bottom: 30px;
  color: var(--grey);
  text-align: center;
  @include t.sans;
}

.secondary-header {
  color: var(--mid-grey);
  text-align: center;
  @include t.serif;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--light-grey);
    margin: 30px auto;
  }
}

.third-header {
  color: var(--main);
  @include t.serif;
  font-size: 24px;
}

.fourth-header {
  font-size: 24px;
  font-weight: 700;
  color: var(--main);
}

.event-header {
  @include t.serif;
  color: var(--off-white);
  font-size: 80px;
  text-align: center;
  margin: 100px 0;
}

.dashboard-table-header {
  @include t.util;
  font-size: 20px;
  color: var(--dashboard);
  text-transform: capitalize;
}

/* Subheaders */
.dashboard-table-subheader {
  @include t.util;
  font-size: 16px;
  color: var(--100);
  font-weight: 300;
  text-transform: uppercase;
}

/* Links */

.nav-link {
  color: var(--200);
  &:hover,
  &.active {
    color: white;
    @include a.transition;
    font-weight: bolder;
  }
}

.table-link {
  color: var(--form);
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  display: block;
  width: max-content;
  margin: 15px 0 30px;

  i {
    margin-left: 5px;
  }
}

.edit-link {
  color: var(--form);
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  display: block;
  width: max-content;
  margin: 15px auto 30px;

  i {
    margin-left: 5px;
  }
}

.icon-link {
  @include a.transition;
  @include l.radius(50%);
  height: 25px;
  width: 25px;

  i {
    font-size: 13px;
    color: var(--140);
    @include a.transition;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    i {
      color: var(--20);
    }
  }
}

// text

.main-text {
  @include t.util;
  color: var(--40);
  line-height: 2;
}

.zh-text {
  font-style: normal !important;
}
