<%
const introBody = JSON.parse(intro.body);
const introImage = introBody.file.location;
const introAlt = introBody.file.alt;
%>

<section id="hero">
  <div class="wrapper">
    <div class="wrapper-item">
      <img src="<%= introImage %>" alt="<%= introAlt %>">
    </div>
    <div class="wrapper-item main-txt">
      <%- introBody['intro_' + lang] %>
    </div>
  </div>
</section>