<section id="hero">
  <div class="content">
    <img src="img/placeholder.jpg" alt="" />
    <blockquote class="engraved">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, eum.</blockquote>
  </div>
</section>
