<%
const introBody = JSON.parse(intro.body);
const image = introBody.file.location;
%>

<section id="hero">
  <div class="wrapper">
    <div class="container">
      <img src="<%= image %>" alt="">
    </div>
    <div class="container main-txt">
      <%- introBody['intro_' + lang] %>
    </div>
  </div>
</section>