<%
const workBody = JSON.parse(work.body);
const id = work._id;
const title = workBody['title_' + lang];
const subtitle = workBody['subtitle_' + lang];
const programNote = workBody['programNote_' + lang];
const slug = workBody.slug;
%>

<section id="intro">
  <div class="card">
    <div class="block">
      <img src="img/placeholder.jpg" alt="" />
    </div>
    <div class="block">
      <div class="text">
        <h2 class="title fourth-header">Introducing...</h2>
        <h3 class="subtitle <%= lang %>-text"><%= title %></h3>
        <p class="description">
          <%- programNote %>
        </p>
      </div>
    </div>
  </div>
  <a href="/work/<%= slug %>">Read more...</a>
</section>