<section id="intro">
	<div class="card">
		<div class="block">
			<img src="img/placeholder.jpg" alt="" />
		</div>
		<div class="block">
			<div class="text">
				<h2 class="title fourth-header">Introducing...</h2>
				<h3 class="subtitle">My new piece!</h3>
				<p class="description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit,
					fugiat.
				</p>
			</div>
		</div>
	</div>
	<a href="/works">Read more...</a>
</section>