<section id="search">
  <div class="container">
    <div class="search-bar">
      <input type="text" />
      <span><i class="fa-solid fa-search"></i></span>
    </div>
  </div>
  <div class="container">
    <ul class="forces">
      <li>
        Orchestral
        <span><i class="fa-solid fa-xmark"></i></span>
      </li>
      <li>
        Chamber
        <span><i class="fa-solid fa-xmark"></i></span>
      </li>
      <li>
        Solo
        <span><i class="fa-solid fa-xmark"></i></span>
      </li>
      <li>
        Dance
        <span><i class="fa-solid fa-xmark"></i></span>
      </li>
      <li>
        Choral
        <span><i class="fa-solid fa-xmark"></i></span>
      </li>
    </ul>
  </div>
</section>
