<section id="search">
  <div class="wrapper">
    <div class="search-bar bg-gray-50 rounded">
      <input type="text" id="search-bar" class="rounded outline-none text-slate-700" />
      <span><i class="fa-solid fa-search text-black"></i></span>
    </div>
  </div>
  <div class="wrapper">
    <ul class="forces">
      <% const tags = ['Orchestral', 'Chamber', 'Solo', 'Dance', 'Choral', 'Vocal', 'Electroacoustic', 'Film', 'Theatre', 'Installation', 'Other'] %>
      <% const tags_zh = ['管弦乐', '室内乐', '独奏', '舞蹈', '合唱', '声乐', '电子音乐', '电影', '戏剧', '装置', '其他']; %>
      <% for (let i = 0; i < tags.length; i++) { %>
      <% const tag = tags[i].toLowerCase(); %>
      <% const hasDocsWithTag = data.some(doc => JSON.parse(doc.body).tag === tag); %>
      <% if (hasDocsWithTag) { %>
      <li class="bg-slate-600 font-sans rounded font-light">
        <%= lang == 'zh' ? tags_zh[i] : tags[i] %>
        <span><i class="fa-solid fa-xmark"></i></span>
      </li>
      <% } %>
      <% } %>
    </ul>
  </div>
</section>