<section name="video" class="pt-8">
  <div class="wrapper p-8">
    <div class="p-8">
      <h2 class="text-xl font-bold font-serif text-center text-slate-200">
        <%= lang == 'zh' ? '最近的表现' : 'Most Recent Performance' %>
      </h2>
    </div>
    <div class="flex justify-center items-center max-w-6xl mx-auto [&>p]:w-full">
      <%- JSON.parse(recording.body).recording %>
    </div>

    <div class="p-8 space-y-8 text-center md:text-2xl">
      <%- JSON.parse(recording.body)['performanceInformation_' + lang] %>
    </div>
  </div>
</section>
