<section name="video">
  <div class="wrapper pd-md">
    <div class="flex justify-center items-center max-w-6xl mx-auto">
      <iframe width="100%" src="https://www.youtube.com/embed/0tT5QgMepks" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</section>