<section name="video">
  <div class="wrapper pd-md">
    <div class="p-8">
      <h2 class="text-xl font-bold font-serif text-center">
        Most Recent Performance
      </h2>
    </div>
    <div class="flex justify-center items-center max-w-6xl mx-auto">
      <iframe
        width="100%"
        src="https://www.youtube.com/embed/zF8B-xG-IE0?si=GUG0Jcmt5ubirKtC"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>

      <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/zF8B-xG-IE0?si=GUG0Jcmt5ubirKtC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
    </div>

    <div class="p-8 space-y-8 text-center">
      <h2 class="text-xl font-serif">Performed by</h2>
      <ul>
        <li>Jasmin Ward, Soprano</li>
        <li>Xinyue Zoey Zhou, Piano</li>
        <li>Julie Minn, Violin</li>
        <li>Vanny Hu, Cello</li>
      </ul>
      <ul>
        <li>Venue: Paul Recital Hall, The Juilliard School</li>
        <li>Time recorded: November, 2023</li>
      </ul>
    </div>
  </div>
</section>
