@use '../../abstracts/' as a;
@use '../../layout' as l;
@use '../../theme/' as t;

#bio {
  --gap: 40px;
  line-height: var(--gap);

  .img-parent {
    padding: 50px;
    @include l.min(md) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include l.max-width(md);
  }

  img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    @include l.max(md, -1px) {
      margin-bottom: 15px;
    }
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
  }

  blockquote {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  .text {
    padding: 100px 0;
    background-color: var(--main-lighter);
  }

  p {
    @include t.serif;
    font-size: 18px;
    color: var(--main-dark);
    @include l.max-width(sm);

    & + p {
      margin-top: var(--gap);
    }

    padding: 0 var(--gap);
  }

  div + div {
    margin-top: var(--gap);
  }
}
