@use '../../abstracts/' as a;
@use '../../layout' as l;
@use '../../theme/' as t;

#bio {
  .img-parent {
    @include l.max-width(md);
    @include l.max(md) {
      &.flex {
        flex-direction: column;
      }
    }
  }

  img {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
  }

  .txt--wrapper {
    background-color: var(--main);
  }

  .txt {
    @include l.max-width(sm);
  }
}
