@use "../../layout" as l;
@use "../../theme/" as t;

#hero {
  padding: 32px;
  .wrapper {
    @include l.max-width(lg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .wrapper-item {
      flex: 1;
    }
  }

  img {
    margin: 0 auto;
    width: 100%;

    margin-bottom: 32px;
  }
}
