@use '../../abstracts/' as a;
@use '../../layout' as l;
@use '../../theme/' as t;

#hero {
  padding: 30px;
  .wrapper {
    @include l.max-width(lg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .wrapper-item {
      flex: 1;
    }
  }

  background-color: var(--main);

  img {
    margin: 0 auto;
    width: 100%;

    // @include a.boxshadow(md);

    margin-bottom: 30px;

    @include l.radius(sm);
  }
}
