@use "../../layout" as l;
@use "../../theme/" as t;

#login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    @include t.sans;
    font-size: 24px;
    font-weight: 400;
  }

  p,
  a {
    @include t.sans;
    margin: 15px 0;
  }

  p {
    margin-bottom: 30px;
  }
}
