@use "../../abstracts/" as a;
@use "../../layout" as l;
@use "../../theme/" as t;

#search {
  @include l.padding(md);
  .wrapper + .wrapper {
    margin-top: 50px;
  }

  .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include l.max-width(xs);

    input {
      @include l.padding(sm);
      width: 100%;
      @include t.sans;
      font-size: 18px;
    }

    span {
      @include l.padding(sm);
      display: block;
      cursor: pointer;
    }
  }

  .forces {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    li {
      @include l.padding(xs, sm);

      outline: none;

      cursor: pointer;

      span {
        display: none;
      }

      &.active,
      &:hover {
        outline: dashed 1px white;
        @include a.transition($duration: 0.1s);
      }

      &.selected {
        span {
          display: inline;
        }
      }
    }
  }
}
