@use '../../abstracts/' as a;
@use '../../layout' as l;
@use '../../theme/' as t;

.work-list {
  @include l.padding(0, md);
  @include l.max(sm) {
    @include l.padding(0, sm);
  }

  .main-header {
    text-transform: capitalize;
  }

  .card {
    .heading {
      margin-bottom: 15px;

      p {
        font-style: italic;
        @include t.serif;
      }
    }

    .description {
      line-height: 1.5;
      @include t.sans;
      font-size: 14px;
    }
  }
}
