@use '../../abstracts/' as a;
@use '../../layout' as l;
@use '../../theme/' as t;

#works {
  padding-bottom: 30px;
}

#work-list {
  @include l.padding(0, md);

  .main-header {
    text-transform: capitalize;
  }

  .cards-wrapper {
    flex-wrap: wrap;
  }

  .card {
    max-width: 400px;
    min-width: 200px;

    @include l.padding(md);
    background-color: var(--main-lighter);
    @include l.radius(lg);

    .heading {
      margin-bottom: 15px;

      p {
        font-style: italic;
        @include t.serif;
        color: var(--main-dark);
      }
    }

    .description {
      color: var(--main-dark);
      line-height: 1.5;
      @include t.util;
    }
  }
}
