@use "../../abstracts/" as a;
@use "../../layout" as l;
@use "../../theme/" as t;

.work-list {
  @include l.padding(0, md);
  @include l.max(sm) {
    @include l.padding(0, sm);
  }

  .main-header {
    text-transform: capitalize;
  }

  .subsection {
    @include l.padding(lg);
    @include l.max(md) {
      @include l.padding(md);
    }
    @include l.max(xs) {
      @include l.padding(sm);
    }
  }

  .cards-wrapper {
    flex-wrap: wrap;
    @include l.max-width(lg);
  }

  .card {
    max-width: 400px;
    min-width: 200px;

    @include l.padding(md);

    .heading {
      margin-bottom: 15px;

      p {
        font-style: italic;
        @include t.serif;
      }
    }

    .description {
      line-height: 1.5;
      @include t.sans;
    }
  }
}
