<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Yuxuan Lin | Dashboard | New Event</title>
		<%- include('../../partials/head') %>
	</head>

	<body class="dashboard">
		<%- include('../../partials/aside') %>
		<script>
			document.querySelector( 'aside .middle ul li:nth-child(2) a' )
				.classList.add( 'active' );
		</script>
		<main>
			<h1 class="secondary-header">New Work</h1>
			<%- include('../../partials/form', {
        metadata: {
          method: 'post',
          action: '/dashboard/works',
          name: 'work'
        },
        fields: [
          { name: 'title', required: true },
          { type: 'hidden', name: 'slug' },
          { name: 'subtitle' },
          { tag: 'select', name: 'tag', options: ['Orchestral', 'Chamber', 'Solo', 'Dance', 'Choral']},
          { name: 'instrumentation', label: 'detailed insturmentation (fl.cl...)' },
          { name: 'duration' },
          { name: 'year' },
          { tag: 'textarea', name: 'commission_en', label: 'commission information (EN)' },
          { tag: 'textarea', name: 'commission_zh', label: 'commission information (ZH)' },
          { tag: 'textarea', name: 'programNote_en', label: 'program note (EN)' },
          { tag: 'textarea', name: 'programNote_zh', label: 'program note (ZH)' },
          { tag: 'textarea', name: 'performanceNote_en', label: 'performance note (EN)' },
          { tag: 'textarea', name: 'performanceNote_zh', label: 'performance note (ZH)' },
          { type: 'url', name: 'url', label: 'URL to purchase music' }
        ]
      }) %>
		</main>
		<script src="/js/previewImage.js" defer></script>
	</body>

</html>