<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yuxuan Lin | Dashboard | New Event</title>
  <%- include('../../partials/head') %>
</head>

<body class="dashboard">
  <%- include('../../partials/aside') %>
  <script>
    document.querySelector('aside .middle ul li:nth-child(2) a')
      .classList.add('active');
  </script>
  <main>
    <h1 class="secondary-header">New Work</h1>
    <%- include('../../partials/form', {
        metadata: {
          method: 'post',
          action: '/dashboard/works',
          name: 'work'
        },
        fields: [
          { name: 'title_en', required: true, label: 'title' },
          { name: 'title_zh', required: true, label: '标题' },
          { type: 'hidden', name: 'slug' },
          { name: 'subtitle_en', label: 'subtitle' },
          { name: 'subtitle_zh', label: '副标题' },
          { tag: 'select', name: 'tag', options: ['Orchestral', 'Chamber', 'Solo', 'Dance', 'Choral', 'Vocal', 'Electroacoustic', 'Film', 'Theatre', 'Installation', 'Other']},
          { name: 'instrumentation', label: 'detailed insturmentation (3.2.2...)' },
          { name: 'duration' },
          { name: 'year' },
          { tag: 'textarea', name: 'commission_en', label: 'commission information' },
          { tag: 'textarea', name: 'commission_zh', label: '委托信息' },
          { tag: 'textarea', name: 'programNote_en', label: 'program note' },
          { tag: 'textarea', name: 'programNote_zh', label: '节目说明' },
          { tag: 'textarea', name: 'performanceNote_en', label: 'performance note' },
          { tag: 'textarea', name: 'performanceNote_zh', label: '演出说明' },
          { type: 'url', name: 'url', label: 'URL to purchase music' }
        ]
      }) %>
  </main>
  <script src="/js/previewImage.js" defer></script>
</body>

</html>