:root {
  /* UTILITY */
  --success: #3b916d;
  --success-hover: #2a654c;
  --danger: #b00020;
  --danger-hover: #b00020;

  /* COMPONENTS */
  --dashboard-form: rgb(48, 66, 85);
  --dashboard: #2a654c;
  --dashboard-hover: #3b916d;

  // Buttons
  --btn-primary: rgb(40, 76, 92);
  --btn-primary-hover: rgb(77, 132, 139);

  // Typography
  --engraved: rgb(49, 139, 139);
  --link: #bbd3ff;
  --footer-link-hover: #36124a;

  /* Monochrome */
  --247: rgb(247, 247, 247);
  --235: rgb(235, 235, 235);
  --220: rgb(220, 220, 220);
  --200: rgb(200, 200, 200);
  --180: rgb(180, 180, 180);
  --160: rgb(160, 160, 160);
  --140: rgb(140, 140, 140);
  --120: rgb(120, 120, 120);
  --100: rgb(100, 100, 100);
  --80: rgb(80, 80, 80);
  --60: rgb(60, 60, 60);
  --40: rgb(40, 40, 40);
  --20: rgb(20, 20, 20);
  --8: rgb(8, 8, 8);

  /* Theme Colors */

  // Main =======
  --main: rgb(16, 4, 34);

  // ...light
  --main-light: rgb(27, 8, 56);

  --main-lighter: rgba(213, 226, 232, 0.5);

  // ...dark
  --main-dark: rgb(18, 25, 62);

  // Second =======
  --second: rgb(6, 30, 40);

  // Third =======
  --third: rgb(68, 105, 160);

  // Accent =======
  --accent: #231815;
}

body {
  background-color: rgb(5, 5, 5);
  color: rgb(250, 250, 250);
}
